// Fonts
$font-family-body:
"Georgia", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
// Code Block font
$font-family-mono: "JetBrains Mono", monospace;
$font-family-tt: "Inconsolata", monospace;
$font-size: 16px;
$line-height: 1.725;
$page-width: 58rem;
// Logo
$logo-width: 50px;
$logo-height: 50px;
$logo-grayout: true;
// Colors
$colors: "dark"; // white dark light classic
// Border
$border-weight: 0.225em;
