// $color-background: #f1f1f1;
$color-background: #E3E2DF;
$color-footer-mobile-1: darken($color-background, 2%);
$color-footer-mobile-2: darken($color-background, 10%);
$color-background-code: darken($color-background, 2%);
$color-border: #666;
$color-meta: #666;
$color-meta-code: lighten($color-meta, 10%);
$color-link: #EE4C7C;
$color-text: #5D001E;
$color-accent-3: #E3AFBC;
$color-accent-2: #9A1750;
$color-accent-1: #EE4C7C;
$color-quote: #2bbc8a;
